<mat-card>
    <mat-card-header>
      <mat-card-title>About Praksheet</mat-card-title>
      <mat-card-subtitle>Repository for practice questions</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="cardcontent">
        <p>Practice sheet application aims to assist educators , 
          teachers and mentors to prepare practice sheets with ease. There are a lot of question choices
          available from a vast pool of contributed questions. 
        </p>
        <p>Use the input parameters on the "Sheets" page to search for specific criteria. Multiple options available such as 
          <mat-list>
          <mat-list-item>Subjects</mat-list-item>
          <mat-list-item>Class</mat-list-item>
          <mat-list-item>Question Count</mat-list-item>
          <mat-list-item>Tags like add, subtract</mat-list-item>
          <mat-list-item>Language</mat-list-item>
        </mat-list>
        </p>
        <p>You can also download the question set using the download button on top of the search result. Before downloading you can remove any unwanted question from the list. Do like a question in case its well written as that will assist others in using it</p>
        <p>You need to login to submit a question, the more parameters you add to a query the more useful it will be for people to search for it.</p>
        <p>Reach out to us via twitter for any suggestion</p>
        <mat-card-actions>
          <a mat-flat-button href="https://twitter.com/praksheet101" target="_blank">Twitter</a>
          <a mat-flat-button href="https://github.com/blackarck/praksheet" target="_blank">Github</a>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
