mat-sidenav {
    width: 200px;
    font-family: 'Edu QLD Beginner', cursive;
    border: none;
  }

 .app-title{
    font-family: 'Edu QLD Beginner', cursive;
    font-size: larger;
  }
 
.material-symbols-outlined {
    font-size: 170px;
    padding-left: 20%;
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 30
}

.googlebtn {
    font-family: 'Edu QLD Beginner', cursive;
    margin-top: 5px;
    padding-left: 5px;
}
 
.fill-remaining-space{
  flex: 1 1 auto;
}

.sidenav-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}


.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.main-container {
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 30px;
  right: 30px;
  align-items: center;
  justify-content: center;
}