.thin_mat_row{
    padding: 4px 8px 4px 8px;
}

 .subject-class{
   min-width: 200 px;
 }

 .example-spacer {
  flex: 1 1 auto;
}
.questheaderrow{
  margin-top:20px;
  padding:none;
  min-height: 35px;
  font-size: 12px;
}
.questheadermatrow{
  max-height: 35px;
}
.totaltxt{
  padding-left:10px;
}

table {
  width: 100%;
}


.mat-cell{
  font-size: 13px;
}


.showresult{
  padding-top:10px;
  padding-bottom: 20px;
  font-size: smaller;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.dash-icon{
  font-size: smaller;
}

.mat-column-sno{
  flex: 0 0 8%;
}
.mat-column-del{
  flex: none;
  width: 3%;
  color: grey;
}
.delbtnright{
  padding-right: 2px;
}

.belowqstn{
  color: rgb(139, 139, 139);
  padding-left:50px;
  padding-bottom: 5px;;
}

.arrbtn{
  min-width: 14px;
  padding: 0 6px;
  line-height: 26px;
}