 <mat-expansion-panel  hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
         Practice Sheet    
      </mat-panel-title>
      <mat-panel-description>
        Search for questions
        <mat-icon>manage_search</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!--Form for search-->
    <mat-form-field appearance="fill">
      <mat-label>Subject</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Language</mat-label>
      <input matInput type="number" min="1">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Marks</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Class</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>

      <!--Button for action-->
    <mat-action-row class="thin_mat_row">
      <button mat-button>Search</button>
    </mat-action-row>
  </mat-expansion-panel>
